/bin/
/build*/
/lib/
/settings.mk
/.settings/
*~
*.a
*.o
*.pyc
__pycache__
goma
.cproject
.project
/TAGS
/tags
/.settings/
cmake-config
/CMakeLists.txt.user*
cmake-debug
/scripts/easygomabuild.txt
/scripts/gomaTPLs/
/*.cflags
/*.config
/*.creator
/*.creator.user
/*.cxxflags
/*.files
/*.includes
*.orig
/.spack-env/
/scripts/.spack-env/
/spack.lock
/.idea/
/cmake-build*/
.cache/
.envrc
/.cache/
*.code-workspace
/docs/docs/
/cmake-variants.yaml
/cmake-variants.json
