/bin/
/build*/
/lib/
/settings.mk
/.settings/
*~
*.a
*.o
*.pyc
goma
.cproject
.project
/TAGS
/tags
/.settings/
cmake-config
/CMakeLists.txt.user
cmake-debug
/scripts/easygomabuild.txt
/scripts/gomaTPLs/
/*.cflags
/*.config
/*.creator
/*.creator.user
/*.cxxflags
/*.files
/*.includes
*.orig
/cmake-build*
/.idea
