name: Check code formatting, clang-format 
on: [push, pull_request]
jobs:
  formatting-check:
    name: Formatting Check
    runs-on: ubuntu-latest
    strategy:
      matrix:
        path:
          - 'src'
          - 'include'
          - 'tests'
    steps:
    - uses: actions/checkout@v3
    - name: Run clang-format style check for C/C++
      uses: jidicula/clang-format-action@v4.5.0
      with:
        clang-format-version: '14'
        check-path: ${{ matrix.path }}
